# Trading Day Data Visualization

#### 1) minute chart data from finance.yahoo

In [4]:
from urllib.parse import urlencode
from datetime import datetime, timedelta
import pandas as pd
import requests
import pytz
import json

DATA_TIMEZONE = pytz.timezone("US/Eastern")

def get_minute_data(symbol, now):
    
    start = now.replace(hour=6, minute=30, second=0, microsecond=0)
    end = start.replace(hour=13, minute=0)  
    url = "https://query1.finance.yahoo.com/v7/finance/chart/{}?period1={:.0f}&period2={:.0f}"\
          "&interval=1m&indicators=quote&includeTimestamps=true&"\
          "events=div%7Csplit%7Cearn".format(symbol, start.timestamp(), end.timestamp())
            
    page = requests.get(url)
    result = page.json()['chart']['result']
    if not result:
        print(page.json())
        return
    
    data = result[0]
    quote = data['indicators']['quote'][0]
    if 'timestamp' not in data:
        return
    times = data['timestamp']
    period = data['meta']['currentTradingPeriod']['regular']
    start, end = period['start'], period['end']
    df = pd.DataFrame(quote, index=[datetime.fromtimestamp(t, tz=DATA_TIMEZONE).astimezone(now.tzinfo) for t in times])
    return df


la_tz = pytz.timezone('America/Los_Angeles')
now = datetime(2018, 5, 3, 12, 0, 0, tzinfo=la_tz)
minute_data = get_minute_data('BAC', now)
minute_data

                               close       high        low       open   volume
2018-05-03 07:23:00-07:00  28.955000  28.965200  28.950001  28.959999        0
2018-05-03 07:24:00-07:00  28.930000  28.959000  28.905001  28.950001   371098
2018-05-03 07:25:00-07:00  28.936001  28.945000  28.930000  28.944000   477290
2018-05-03 07:26:00-07:00  28.875000  28.920000  28.870001  28.920000   530559
2018-05-03 07:27:00-07:00  28.900000  28.900000  28.875000  28.875000   585834
2018-05-03 07:28:00-07:00  28.900000  28.910000  28.885000  28.889999   571006
2018-05-03 07:29:00-07:00  28.895000  28.906601  28.879999  28.906601   408168
2018-05-03 07:30:00-07:00  28.889999  28.905001  28.879999  28.900000   241020
2018-05-03 07:31:00-07:00  28.889999  28.920000  28.885000  28.895000   303496
2018-05-03 07:32:00-07:00  28.855000  28.885000  28.850000  28.885000   334241
2018-05-03 07:33:00-07:00  28.855000  28.875000  28.834999  28.855000   317336
2018-05-03 07:34:00-07:00  28.830000  28.850000  28.830000  28.844999   224978
2018-05-03 07:35:00-07:00  28.825001  28.844999  28.825001  28.834999   190755
2018-05-03 07:36:00-07:00  28.830000  28.830000  28.799999  28.820000   838230
2018-05-03 07:37:00-07:00  28.844999  28.865000  28.831499  28.831499   206938
2018-05-03 07:38:00-07:00  28.833799  28.853399  28.813601  28.846901   242299
2018-05-03 07:39:00-07:00  28.855000  28.865000  28.844999  28.850000   458807
2018-05-03 07:40:00-07:00  28.830000  28.870001  28.805000  28.860001   238109
2018-05-03 07:41:00-07:00  28.829901  28.860001  28.817600  28.820000   206467
2018-05-03 07:42:00-07:00  28.850000  28.860001  28.830000  28.830000   379215
2018-05-03 07:43:00-07:00  28.889999  28.889999  28.850000  28.850000   272422
2018-05-03 07:44:00-07:00  28.865000  28.895000  28.865000  28.895000   206892
2018-05-03 07:45:00-07:00  28.859900  28.875000  28.850000  28.860001   223576
2018-05-03 07:46:00-07:00  28.854799  28.870001  28.844999  28.859900   499198
2018-05-03 07:47:00-07:00  28.865000  28.879999  28.854700  28.854700   213579
2018-05-03 07:48:00-07:00  28.870001  28.889999  28.868500  28.879999   132817
2018-05-03 07:49:00-07:00  28.845200  28.865000  28.840000  28.865000   246169
2018-05-03 07:50:00-07:00  28.830000  28.840000  28.809999  28.840000   372233
2018-05-03 07:51:00-07:00  28.809999  28.830000  28.804800  28.826099   200744
2018-05-03 07:52:00-07:00  28.769899  28.815001  28.760000  28.815001   444350
...                              ...        ...        ...        ...      ...
2018-05-03 12:30:00-07:00  29.290001  29.299999  29.260000  29.260000   192862
2018-05-03 12:31:00-07:00  29.299999  29.299999  29.285000  29.290001   306387
2018-05-03 12:32:00-07:00  29.270000  29.295000  29.270000  29.290001   218363
2018-05-03 12:33:00-07:00  29.240000  29.270000  29.230000  29.270000   280924
2018-05-03 12:34:00-07:00  29.240000  29.240101  29.230000  29.230000   167124
2018-05-03 12:35:00-07:00  29.209999  29.250000  29.209999  29.240000   182592
2018-05-03 12:36:00-07:00  29.225000  29.230000  29.209999  29.209999   209284
2018-05-03 12:37:00-07:00  29.250000  29.254999  29.228399  29.230000    92006
2018-05-03 12:38:00-07:00  29.245001  29.249901  29.230000  29.249901    75532
2018-05-03 12:39:00-07:00  29.209999  29.240000  29.200001  29.240000   175122
2018-05-03 12:40:00-07:00  29.190001  29.215000  29.184999  29.209999   239081
2018-05-03 12:41:00-07:00  29.139999  29.190001  29.139999  29.190001   291147
2018-05-03 12:42:00-07:00  29.159901  29.170000  29.139999  29.139999   188925
2018-05-03 12:43:00-07:00  29.150000  29.165001  29.150000  29.160000   237664
2018-05-03 12:44:00-07:00  29.129999  29.160000  29.129999  29.145000   173543
2018-05-03 12:45:00-07:00  29.155899  29.160000  29.120001  29.129999   310170
2018-05-03 12:46:00-07:00  29.150000  29.150000  29.139999  29.150000   137817
2018-05-03 12:47:00-07:00  29.129999  29.155001  29.129999  29.150000   133186
2018-05-03 12:48:00-07:00  29.125000  29.139999  29.120001  29.135000   123257
2018-05-03 12:49:00-07:00  29.120001  29.135000  29.120001  29.125000   188984
2018-05-03 12:50:00-07:00  29.139999  29.139999  29.110001  29.120001   379047
2018-05-03 12:51:00-07:00  29.150000  29.170000  29.141001  29.141001   305206
2018-05-03 12:52:00-07:00  29.145000  29.160000  29.135000  29.155001   197961
2018-05-03 12:53:00-07:00  29.139999  29.150000  29.129999  29.150000   153881
2018-05-03 12:54:00-07:00  29.129999  29.150000  29.129999  29.139999   193622
2018-05-03 12:55:00-07:00  29.105000  29.145000  29.105000  29.139999   325290
2018-05-03 12:56:00-07:00  29.100000  29.110001  29.100000  29.100000   339687
2018-05-03 12:57:00-07:00  29.090000  29.100000  29.070000  29.099899   392992
2018-05-03 12:58:00-07:00  29.120001  29.120001  29.070000  29.080000   682301
2018-05-03 12:59:00-07:00  29.200001  29.200001  29.200001  29.200001  1788596

[337 rows x 5 columns]

In [ ]:
from matplotlib.finance import *
import matplotlib.pyplot as plt
from matplotlib import ticker, style
from matplotlib.dates import DateFormatter, WeekdayLocator,\
    DayLocator, MONDAY, date2num
    
style.use('ggplot')

def plot_minute_data(data):
    if data is not None:
        fig = plt.figure(figsize=(18, 5))
        ax = plt.subplot(111)
        candlestick_ochl(
            ax, 
            ((date2num(r.Index), r.open, r.close, r.high, r.low) 
             for r in data.itertuples()), 
            width=1/3600,  
            colorup='g',  
            colordown='r',
        )

        x_min, x_max = date2num(data.index.min()) - .001, date2num(data.index.max()) + .001
        ax.set_xlim(x_min, x_max)
        ax.set_ylim(data.low.min(), data.high.max())

        minute_formatter = DateFormatter('%I:%M%p', tz=pytz.timezone('America/Los_Angeles'))
        ax.xaxis.set_major_formatter(minute_formatter)

        ax.yaxis.tick_right()
        plt.show()

plot_minute_data(minute_data)

#### 2) the trade lot data from nasdaq.com

In [ ]:
from urllib.parse import quote_plus, urlparse, parse_qs
from lxml import html
import queue
import requests
import threading
import re

NUM_THREADS = 2 
    
    
def get_trades_tree(stock, time, pageno):
    url = "https://www.nasdaq.com/symbol/{symbol}/time-sales?time={time}&pageno={pageno}".format(
        symbol=stock, time=time, pageno=pageno
    )
    page_res = requests.get(url, timeout=6)
    result = html.fromstring(page_res.content)
    return result


def page_get_lots(tree):
    table = tree.find('.//table[@id="AfterHoursPagingContents_Table"]')
    if table is None:
        raise ProxyFailException('The table is missing')
    else:
        lots = [
            tuple(col.text_content() for col in row) 
            for row in table 
            if row.tag == 'tr'
        ]
        return lots
    
def pull_trades(q, r, stock, time, pageno=None):
    tree = get_trades_tree(stock, time, pageno or 1)
    if pageno is None:
        pager = tree.find('.//ul[@id="pager"]')
        if pager is not None:
            page_links = pager.findall('.//a')
            if page_links:
                href = page_links[-1].attrib['href']
                parsed_url = urlparse(href)
                query_params = parse_qs(parsed_url.query)
                max_page = int(query_params['pageno'][0])

                for pn in range(1, max_page + 1):
                    q.put((stock, time, pn))

    for l in page_get_lots(tree):
        r.put(l)
            
def save_trades(responses_query, now):
    df = pd.DataFrame([], columns=('Time', 'Price', 'Volume'))
    i = 0
    while True:
        try:
            time, price, volume = rresponses_query.get(block=False)
        except queue.Empty:
            break
        else:
            df.loc[i] = (
                re.sub(r'[^\d:]+', '', time), 
                float(re.sub(r'[^\d\.]+', '', price)), 
                int(re.sub(r'[^\d]+', '', volume))
            )
            i += 1
    return df

def load_in_parrallel(*args, now):   
    
    tasks = queue.Queue() # queue with arguments for the 'get_transactions' function
    responses = queue.Queue() # queue with raw responses  
    
    def worker():    
        while True:
            args = tasks.get()
            if args is None:
                break
            try:
                pull_trades(tasks, responses, *args)
            except Exception as e:
                print("Error:", e)
                tasks.put(args)
                
            tasks.task_done()
    

    threads = []
    for i in range(NUM_THREADS):
        t = threading.Thread(target=worker)
        t.start()
        threads.append(t)
        
    tasks.put(args)

    # block until all tasks are done
    tasks.join()

    # stop workers
    for i in range(NUM_THREADS):
        tasks.put(None)

    for t in threads:
        t.join()
        
    return save_trades(responses, now)

In [ ]:
def get_trade_lots(symbol, now, time):    
    df = load_in_parrallel(symbol, time, now=now) 
    df = df[df.Volume >= 1000]
    df['Minute'] = df.Time.str[:5]
    df['Cost'] = df.Price * df.Volume * 100   
    df['TimePeriod'] = time
    df = df.sort_values(by=['Time'], ascending=False)
    return df

df = get_trade_lots('BAC', now, time=1)
df

In [ ]:
# This function will display the table
from IPython.display import display, HTML
from datetime import datetime
import numpy as np
import math


def display_trade_lots_tables(data, minute_data, now):
    if data is None or not len(data):
        print("Trade lots list is empty")
        return
    data['Count'] = 1      
    def apply_minute_data(df):
        eastern = pytz.timezone('US/Eastern')
        def get_minute_data(row):
            minute = row.Minute if 'Minute' in df.dtypes.keys() else row.name 
            hour, minute = minute.split(':')
            time = now.replace(hour=int(hour), minute=int(minute), second=0, microsecond=0, tzinfo=eastern)
            time = datetime(
                now.year, now.month, now.day, 
                hour=int(hour), minute=int(minute), second=0, microsecond=0,
            )        
            time = eastern.localize(time)

            if minute_data is not None and time in minute_data.index:
                md = minute_data.loc[time]
                open, close = md.open, md.close
            else:
                open = close = None        
            return open, close    

        df['Open'], df['Close'] = zip(*df.apply(get_minute_data, axis=1))
        df['CloseByOpen'] = (df.Close / df.Open - 1) * 100
    
    def display_table(rows):
        headers = ("Time", "Open", "Close", "Close/Open", "Shares", "Cost", "# of lots")
        row = "<td>{time}</td><td>{open}</td><td>{close}</td><td>{co_tab} {close_by_open}</td>"\
              "<td>{vo_tab} {volume:,.0f}</td><td>{cost_tab} {cost:,.0f}</td><td>{count_tab} {count}</td>"
        table_rows = (row.format(**kwargs) for kwargs in rows) 
        display(
            HTML(
                '<table><tr><th>{}</th></tr><tr>{}</tr></table>'.format(
                    "</th><th>".join(headers),
                    "</tr><tr>".join(table_rows)
                )
            )
        )  
    
    
    display(HTML("<h4>AGGREGATED TRADING FEED BY MINUTE</h4>"))
    sum_data = data.groupby(['Minute'])['Cost', 'Volume', 'Count'].sum()
    apply_minute_data(sum_data)
    sum_data = sum_data.sort_index(ascending=False)
    
    def get_tab(value, min_value, max_value, color):
        n = 0        
        if not pd.isnull(value):
            diff = max_value - min_value
            if diff:
                n = math.ceil((value - min_value) / diff * 20)
                
        return '<div style="float:left;background-color:{};height=20px;" >{}</div>&nbsp;'.format(
            "green" if color >= 0 else "red",
            "&nbsp;" * (n + 1), 
        )
    min_co, max_co = sum_data.CloseByOpen.min(), sum_data.CloseByOpen.max()
    min_vo, max_vo = sum_data.Volume.min(), sum_data.Volume.max()
    min_cost, max_cost = sum_data.Cost.min(), sum_data.Cost.max()
    min_count, max_count = sum_data.Count.min(), sum_data.Count.max()
    rows = (dict(time=r.Index, 
                 open="{:.4f}".format(r.Open) if r.Open else r.Open, 
                 close="{:.4f}".format(r.Close) if r.Close else r.Close, 
                 close_by_open="{:.4f}".format(r.CloseByOpen) if r.CloseByOpen else r.CloseByOpen,                 
                 volume=r.Volume, cost=r.Cost, count=r.Count,
                 co_tab=get_tab(r.CloseByOpen, min_co, max_co, r.CloseByOpen),
                 vo_tab=get_tab(r.Volume, min_vo, max_vo, r.CloseByOpen),
                 cost_tab=get_tab(r.Cost, min_cost, max_cost, r.CloseByOpen),
                 count_tab=get_tab(r.Count, min_count, max_count, r.CloseByOpen),
                ) 
            for r in sum_data.itertuples())
    display_table(rows)
    
    display(HTML("<h4>SEGREGATED TRADING FEED BY MINUTE</h4>"))
    apply_minute_data(data)
    min_co, max_co = data.CloseByOpen.min(), data.CloseByOpen.max()
    min_vo, max_vo = data.Volume.min(), data.Volume.max()
    min_cost, max_cost = data.Cost.min(), data.Cost.max()
    min_count, max_count = data.Count.min(), data.Count.max()
    rows = (dict(time=r.Minute, 
                 open="{:.4f}".format(r.Open) if r.Open else r.Open, 
                 close="{:.4f}".format(r.Close) if r.Close else r.Close, 
                 close_by_open="{:.4f}".format(r.CloseByOpen) if r.CloseByOpen else r.CloseByOpen,                  
                 volume=r.Volume, cost=r.Cost, count=r.Count,
                 co_tab=get_tab(r.CloseByOpen, min_co, max_co, r.CloseByOpen),
                 vo_tab=get_tab(r.Volume, min_vo, max_vo, r.CloseByOpen),
                 cost_tab=get_tab(r.Cost, min_cost, max_cost, r.CloseByOpen),
                 count_tab=get_tab(r.Count, min_count, max_count, r.CloseByOpen),
                )
            for r in data.itertuples())
    display_table(rows)
    
    
#     return sum_data 

display_trade_lots_tables(df, minute_data, now)

In [ ]:
from datetime import datetime, timedelta
from IPython.display import clear_output
from matplotlib import ticker, dates as mdates
import numpy as np
import pytz
from time import sleep
import heapq
import math

tz = pytz.timezone('America/Los_Angeles')
STOCK_SYMBOL = 'GLYC'

last_time = None
trade_lots = None
lots_times = (
    (6, 59),
    (7, 29),
    (7, 59),
    (8, 29),
    (8, 59),
    (9, 29),
    (9, 59),
    (10,29),
    (10, 59),
    (11, 29),
    (11, 59),
    (12, 29),
    (13, 0),
)
current_time_period = 1


while True:    
    now = datetime.now(tz=tz)
    start = now.replace(hour=6, minute=30, second=0, microsecond=0)
    stop = start.replace(hour=13, minute=0)
    
    if start <= now <= stop: # proper time for getting data
        
        if last_time: # no more often than once per minute
            diff = 60 - (now - last_time).seconds            
            if diff > 0:
                sleep(diff)
        
        # GETTING DATA
        minute_data = get_minute_data(STOCK_SYMBOL, now)        
        
        leh, lem = lots_times[current_time_period - 1]
        time_range_end = start.replace(hour=leh, minute=lem)
        if last_time and last_time > time_range_end:
            current_time_period += 1
        
        response = get_trade_lots(STOCK_SYMBOL, now, current_time_period)
        res_len = len(response)
        if res_len:            
            if trade_lots is not None:
                trade_lots = trade_lots[trade_lots.TimePeriod != current_time_period]
                trade_lots = response.append(trade_lots, ignore_index=True)
            else:
                trade_lots = response

        # DISPLAYING DATA
        clear_output()
        print('1) minute chart data from finance.yahoo')
        plot_minute_data(minute_data)
        
        print('2) the trade lot data from nasdaq.com')
        display_trade_lots_tables(trade_lots, minute_data, now)    
        
        print("last update", now)
        print("prev update", last_time) 
        print("update time", datetime.now(tz=tz) - now)
        last_time = now        
    else: 
        current_time_period = 1
        trade_lots = None
        
        if now < start:
            diff = start - now
            print("time to start:", diff)
            
        else:
            start_tommorow = start + timedelta(days=1)
            print("start tommorow at", start_tommorow)
            diff = start_tommorow - now
        
        sleep(diff.seconds + diff.microseconds * 0.1 ** 6)