# Trade Lots

In [1]:
from datetime import datetime
from urllib.parse import quote_plus, urlparse, parse_qs
from lxml import html, etree
import pandas as pd
import requests

url = "http://www.nasdaq.com/symbol/amd/time-sales?time=1&pageno={page}"
page = requests.get(url.format(page=1))
tree = html.fromstring(page.content)

pager = tree.find('.//ul[@id="pager"]')
page_links = pager.findall('.//a')
href = page_links[-1].attrib['href']
href

AttributeError: 'NoneType' object has no attribute 'findall'

In [8]:
parsed_url = urlparse(href)
query_params = parse_qs(parsed_url.query)
max_page = int(query_params['pageno'][0])
max_page

307

In [ ]:
def load_data(stocks, time, friday):
    
    num_worker_threads = 100
    
    def worker():
        while True:
            args = q.get()
            if args is None:
                break
            get_transactions(q, r, *args)  # <-- see definition of this function below
            q.task_done()

    q = queue.Queue() # queue with arguments for the 'get_transactions' function
    r = queue.Queue() # queue with raw responses

    threads = []
    for i in range(num_worker_threads):
        t = threading.Thread(target=worker)
        t.start()
        threads.append(t)

    for stock in stocks:
        q.put((stock, friday))

    # block until all tasks are done
    q.join()

    # stop workers
    for i in range(num_worker_threads):
        q.put(None)

    for t in threads:
        t.join()
        
    save_rows(r, time)

In [20]:
df = pd.DataFrame([], columns=('Time', 'Price', 'Volume'))
start_time = datetime.now()
i = 0
for page_num in range(1, max_page + 1):
    
    page = requests.get(url.format(page=page_num))
    tree = html.fromstring(page.content)
    
    table = tree.find('.//table[@id="AfterHoursPagingContents_Table"]')
    for row in table:
        if row.tag == 'tr':
            df.loc[i] = [col.text_content() for col in row]
            i += 1
            
print(datetime.now() - start)
df

0:04:13.965301

            Time        Price  Volume
0       09:59:59   $ 12.195       700
1      09:59:59     $ 12.20       700
2       09:59:59   $ 12.195       100
3      09:59:59     $ 12.20       100
4       09:59:59   $ 12.195       100
5      09:59:59     $ 12.19       279
6       09:59:58    $ 12.19       151
7      09:59:58   $ 12.1901       151
8       09:59:56   $ 12.197     1,000
9      09:59:55   $ 12.1918       500
10      09:59:55    $ 12.20       100
11     09:59:54   $ 12.1999       100
12      09:59:54  $ 12.1999       100
13     09:59:54   $ 12.1999       100
14      09:59:54    $ 12.20       100
15     09:59:54    $ 12.195       100
16      09:59:53    $ 12.19       500
17     09:59:52     $ 12.19       500
18      09:59:49    $ 12.19       279
19     09:59:44     $ 12.20       300
20      09:59:44    $ 12.20       100
21     09:59:44     $ 12.20       100
22      09:59:44    $ 12.20       100
23     09:59:44     $ 12.20       100
24      09:59:43    $ 12.20       100
25     09:59:43     $ 12.20       300
26      09:59:43    $ 12.20       100
27     09:59:43     $ 12.20       100
28      09:59:43    $ 12.20       100
29     09:59:43     $ 12.20       500
...          ...          ...     ...
15295  09:30:00     $ 11.98       500
15296   09:30:00    $ 11.98       150
15297  09:30:00     $ 11.98     3,550
15298   09:30:00    $ 11.98       100
15299  09:30:00     $ 11.98       200
15300   09:30:00    $ 11.97       100
15301  09:30:00     $ 11.97       170
15302   09:30:00    $ 11.97       100
15303  09:30:00     $ 11.97       230
15304   09:30:00    $ 11.97       200
15305  09:30:00     $ 11.97       240
15306   09:30:00    $ 11.98       300
15307  09:30:00     $ 11.97       170
15308   09:30:00    $ 11.97       100
15309  09:30:00     $ 11.97       100
15310   09:30:00    $ 11.97       100
15311  09:30:00     $ 11.95     2,000
15312   09:30:00    $ 11.95        10
15313  09:30:00     $ 11.95     3,356
15314   09:30:00    $ 11.95    19,319
15315  09:30:00     $ 11.95     3,000
15316   09:30:00    $ 11.96     1,070
15317  09:30:00     $ 11.96       300
15318   09:30:00    $ 11.95       500
15319  09:30:00     $ 11.95       500
15320   09:30:00    $ 11.97       300
15321  09:30:00   $ 11.9742       200
15322   09:30:00    $ 11.98       500
15323  09:30:00     $ 11.97       636
15324   09:30:00    $ 11.98       400

[15325 rows x 3 columns]